---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  dashy:
    image: lissy93/dashy
    networks:
      - traefik_network
    environment:
      - NODE_ENV=production
    volumes:
      - "{{ volumes_root }}/dashy/dashy_config.yml:/app/public/conf.yml"
      - "{{ volumes_root }}/dashy/item-icons:/app/public/item-icons"
{% include './labels.j2' %}
